<!DOCTYPE html>

<head>
<!--[if IE 9]>         <html class="ie9"> <![endif]-->
<!-- Meta Data -->
<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
<meta charset="utf-8" />
<title>ENGAGE v1.1 Creative</title>
<!-- Core Meta Data -->
<meta name="author" content="GoloThemes">
<meta name="description" content="ENGAGE v1.0. Responsive One Page Theme.">
<meta name="keywords" content="ENGAGE v1.0, responsive, one page, portfolio, parallax, template, html5">
<!-- Open Graph Meta Data -->
<meta property="og:description" content="ENGAGE v1.0. Responsive One Page Theme.">
<meta property="og:image" content="http://www.golothemes.com/demo/tiara/preview_image.png">
<meta property="og:site_name" content="ENGAGE v1.0">
<meta property="og:title" content="ENGAGE v1.0">
<meta property="og:type" content="website">
<meta property="og:url" content="http://www.golothemes.com/">
<!--Favicon-->
<link rel="shortcut icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
<link rel="shortcut icon" href="images/favicons/favicon-16x16.ico" type="image/x-icon"/>
<link rel="apple-touch-icon" sizes="144x144" href="images/favicons/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="114x114" href="images/favicons/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="images/favicons/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="57x57" href="images/favicons/apple-touch-icon-57x57.png">
<!--Loader-->
<link rel="stylesheet" href="css/preloader/preloader.css" type="text/css" />
<!--Framework Styles-->
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" type="text/css" />
<!--Fonts Styles-->
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,600,700,800' rel='stylesheet' type='text/css'>
<!--Icons Styles-->
<link rel="stylesheet" href="css/icons/font-awesome.min.css" type="text/css" />
<link rel="stylesheet" href="css/icons/ionicons.min.css" type="text/css" />
<!--animation-->
<link rel="stylesheet" href="css/animate.css" type="text/css" />
<!--Venders Styles-->
<link rel="stylesheet" href="css/owl/owl.carousel.css" type="text/css" />
<link rel="stylesheet" href="css/cubeportfolio/cubeportfolio.min.css" type="text/css" />
<link rel="stylesheet" href="css/nav/sidebar-menu.css" type="text/css" />
<link rel="stylesheet" href="css/scrollbar/jquery.mCustomScrollbar.css" type="text/css" />
<link rel="stylesheet" href="css/popup/magnific-popup.css" type="text/css" />
<link rel="stylesheet" href="css/animated-headlines/animated-headlines.css" type="text/css" />
<!--Default Styles-->
<link rel="stylesheet" href="css/styles.css" type="text/css" />
<!-- LESS stylesheet for managing color presets -->
<link rel="stylesheet" type="text/css" href="css/theme.css" />
<link rel="stylesheet" type="text/css" href="css/themes/red.css" data-color="" id="theme" />

<!--Responsive Styles-->
<link rel="stylesheet" href="css/responsive.css" type="text/css" />
<!--HTML5 JS-->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body id="page" data-spy="scroll" data-target=".navbar-nav" data-offset="80" class="appear-animate icon-navigation">

<!-- Preloader
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="ip-header">
  <div class="ip-logo"> <img class="preloaderLogo img-responsive center-block" src="images/logo/logo-black.png" alt="preloader"> </div>
  <div class="ip-loader"> <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
    <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,41S57.351,71,41,71 S10,57.351,10,41S23.649,10,41,10z"/>
    <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,41S57.351,71,41,71 S10,57.351,10,41S23.649,10,41,10z"/>
    </svg> </div>
</div>
<!--/ Preloader--> 

<!-- Header
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<header> 
  <!-- Menu -->
  <nav id="nav-icon" class="sidebar-menu">
    <div class="logo"> <img src="images/logo/logo-4.png" alt="logo 4" id="change-logo" /> </div>
    <div class="en" id="snav">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span></span> <span></span> <span></span> </button>
      <div class="clearfix"></div>
      <ul class="collapse navbar-collapse">
        <li> <a href="#home" class="active"> <i class="icon ion-home"></i> <span class="text-uppercase">Home</span> </a> </li>
        <li> <a href="#about-us"> <i class="icon ion-ios-person"></i> <span class="text-uppercase">About</span> </a> </li>
		<li> <a href="#services"> <i class="icon ion-paper-airplane"></i> <span class="text-uppercase">Services</span> </a> </li>
        <li> <a href="#team"> <i class="icon ion-ios-people"></i> <span class="text-uppercase">team</span> </a> </li>
        <li> <a href="#portfolio"> <i class="icon ion-grid"></i> <span class="text-uppercase">Work</span> </a> </li>
        <li> <a href="#blog"> <i class="icon ion-compose"></i> <span class="text-uppercase">blog</span> </a> </li>
        <li> <a href="#contact"> <i class="icon ion-android-contact"></i> <span class="text-uppercase">Contact</span> </a> </li>
      </ul>
    </div>
  </nav>
  <!-- / Menu --> 
</header>
<!--/ Header -->

<div id="pageWrapper" class="pageWrapper fixbgmobile clearfix" data-background="images/slider/26.jpg"> 
  <!--Content Wrapper
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="contentWrapper">
    <div id="bgFixedWrapper" class="fullScreenBg z-index0">
      <div class="customCarousel homePage clearfix" id="homePage">
        <div class="homeCarousel golo-carousel bgFixedSlider" data-nav="false" data-navspeed="1000" data-autoplayspeed="1000" data-dots="false" data-dotsspeed="false" data-animateout="fadeOut" data-animatein="fadeIn" data-autoplay="true" data-items="1"> 
          <!--Slide 1-->
          <div class="item" data-background="images/slider/26.jpg"> </div>
          <!-- / Slide 1--> 
          <!--Slide 2-->
          <div class="item" data-background="images/slider/27.jpg"> </div>
          <!-- / Slide 2--> 
          <!--Slide 3-->
          <div class="item" data-background="images/slider/28.jpg"> </div>
          <!--/ Slide 3--> 
        </div>
      </div>
    </div>
    
    <!-- Home Section
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section id="home" class="mainBanner clearfix bgTransperent">
      <div class="parallax-overlay bg-strip"></div>
      <div class="fixedContent fullwidth slider-1 text-center mainBanner-content">
        <div class="container">
          <div class="col-md-8 col-md-offset-2">
            <p class=" no-padding mar0">We're a Creative</p>
            <h1 class="cd-headline letters rotate-2 text-uppercase marb0 paddt0 marR0-1 "> <span class="cd-words-wrapper"> <b class="is-visible">Interior</b> <b>Exterior</b> </span> </h1>
            <p class="no-padding mar0">Design Studio.</p>
            <a class="btn-bdr move marT50" href="#about-us">GET TO KNOW MORE</a> <span class="downArrow"><img alt="down arrow" src="images/others/down-arrow.png"></span> </div>
        </div>
      </div>
    </section>
    <!--/ Home Section--> 
    
    <!--About us
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section id="about-us" class="clearfix bgColor2">
      <div class="container">
      <div class="row row-padding paddTB80">
        <div class="col-md-6">
          <figure class="LeftWrapImg centerWrapImg mmarb50 hidden-xs"> <img src="images/parallaxbg/27.jpg" class="img-responsive" alt="media"> </figure>
        </div>
        <div class="col-md-6 col-sm-12"> 
          <!--Section Title-->
          <div class="heading wow fadeIn" data-wow-delay=".2s" data-wow-duration="1s">
            <div class="title-style-5">
              <div class="tagLine">About us</div>
              <div>
                <h1 class="heading text-uppercase">Welcome to Engage</h1>
              </div>
            </div>
            <p>We are nec pellenesque nulla laoreet etuis non quam orcitiam ac diam ut est nulla laoreet etuis non quam orcitiam sagittis are nec pellenesque nulla laoreet etuis non quam orcitiam.</p>
          </div>
          <!--/ Section Title--> 
          <!--Features-->
          <div class="features marTop clearfix"> 
            <!--Feature 1-->
            <div class="feature-box wow fadeInRight" data-wow-delay=".3s" data-wow-duration=".9s">
              <div class="icon circle ion-home bdr-none"></div>
              <div class="data">
                <h5 class="text-uppercase">Interior design</h5>
                <p>We are nec pellenesque nulla laoreet etuis non quam orci. Etiam ac diam ut est sagittis porttitorlum nisl.</p>
              </div>
            </div>
            <!--Feature 2-->
            <div class="feature-box wow fadeInRight" data-wow-delay=".35s" data-wow-duration=".9s">
              <div class="icon ion-android-expand circle bdr-none"></div>
              <div class="data">
                <h5 class="text-uppercase">Exterior Design</h5>
                <p>We are nec pellenesque nulla laoreet etuis non quam orci. Etiam ac diam ut est sagittis porttitorlum nisl.</p>
              </div>
            </div>
            <!--Feature 3-->
            <div class="feature-box wow fadeInRight" data-wow-delay=".35s" data-wow-duration=".9s">
              <div class="icon ion-android-expand circle bdr-none"></div>
              <div class="data">
                <h5 class="text-uppercase">Handcraft Design</h5>
                <p>We are nec pellenesque nulla laoreet etuis non quam orci. Etiam ac diam ut est sagittis porttitorlum nisl.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <!--/ About us--> 
    
    <!--Services Section
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section id="services" class="darkBg_trans1 clearfix">
      <div class="container">
        <div class="row row-padding"> 
          <!--Section Title-->
          <div class="heading text-center">
            <div class="title-style-5 text-center white">
              <div class="tagLine white">Services</div>
              <div>
                <h1 class="heading text-uppercase white">What we do</h1>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3 marB50">
            <p class="text-center white">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.</p>
          </div>
          <!--/ Section Title-->
          <div class="services-wrapper"> 
            <!--Service box-->
            <div class="col-md-4 col-sm-6">
              <div class="item">
                <div class="service-sliderBox-img"> 
                  <!--Service img-->
                  <figure><img src="images/services/hiw-item-1.jpg" class="img-responsive" alt="" ></figure>
                  <!--Service img-->
                  <h5 class="text-uppercase marB5">Residential</h5>
                  <p> Etiam ac diam ut est sagittis porttitorlum nisl metus ligula vehicula nisl metus ligula vehicula. </p>
                </div>
              </div>
            </div>
            <!--/ Service box--> 
            <!--Service box-->
            <div class="col-md-4 col-sm-6">
              <div class="item">
                <div class="service-sliderBox-img"> 
                  <!--Service img-->
                  <figure><img src="images/services/hiw-item-2.jpg" class="img-responsive" alt="" ></figure>
                  <!--Service img-->
                  <h5 class="text-uppercase marB5">Commercial</h5>
                  <p> Etiam ac diam ut est sagittis porttitorlum nisl metus ligula vehicula nisl metus ligula vehicula. </p>
                </div>
              </div>
            </div>
            <!--/ Service box--> 
            <!--Service box-->
            <div class="col-md-4 col-sm-6">
              <div class="item">
                <div class="service-sliderBox-img"> 
                  <!--Service img-->
                  <figure><img src="images/services/hiw-item-3.jpg" class="img-responsive" alt="" ></figure>
                  <!--Service img-->
                  <h5 class="text-uppercase marB5">Hotels</h5>
                  <p> Etiam ac diam ut est sagittis porttitorlum nisl metus ligula vehicula nisl metus ligula vehicula. </p>
                </div>
              </div>
            </div>
            <!--/ Service box--> 
            <!--Service box-->
            <div class="col-md-4 col-sm-6">
              <div class="item">
                <div class="service-sliderBox-img"> 
                  <!--Service img-->
                  <figure><img src="images/services/hiw-item-4.jpg" class="img-responsive" alt="" ></figure>
                  <!--Service img-->
                  <h5 class="text-uppercase marB5">Shopping Malls</h5>
                  <p> Etiam ac diam ut est sagittis porttitorlum nisl metus ligula vehicula nisl metus ligula vehicula. </p>
                </div>
              </div>
            </div>
            <!--/ Service box--> 
            <!--Service box-->
            <div class="col-md-4 col-sm-6">
              <div class="item">
                <div class="service-sliderBox-img"> 
                  <!--Service img-->
                  <figure><img src="images/services/hiw-item-5.jpg" class="img-responsive" alt="" ></figure>
                  <!--Service img-->
                  <h5 class="text-uppercase marB5">Event Halls</h5>
                  <p> Etiam ac diam ut est sagittis porttitorlum nisl metus ligula vehicula nisl metus ligula vehicula. </p>
                </div>
              </div>
            </div>
            <!--/ Service box--> 
            <!--Service box-->
            <div class="col-md-4 col-sm-6">
              <div class="item last">
                <div class="service-sliderBox-img"> 
                  <!--Service img-->
                  <figure><img src="images/services/hiw-item-6.jpg" class="img-responsive" alt="" ></figure>
                  <!--Service img-->
                  <h5 class="text-uppercase marB5">Hospitality</h5>
                  <p> Etiam ac diam ut est sagittis porttitorlum nisl metus ligula vehicula nisl metus ligula vehicula. </p>
                </div>
              </div>
            </div>
            <!--/ Service box--> 
          </div>
        </div>
      </div>
    </section>
    <!--/ Services Section--> 
    
    <!--Team
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section id="team" class="clearfix ipad-view bgColor2">
      <div class="container">
        <div class="row row-padding paddTB80"> 
          <!--Section Title-->
          <div class="heading text-center">
            <div class="title-style-5 text-center">
              <div class="tagLine">Team</div>
              <div>
                <h1 class="heading text-uppercase">Meet Our experts</h1>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 marB50">
            <p class="text-center">We are nec pellenesque nulla laoreet etuis non quam orcitiam ac diam ut est sagittis ac diam ut est torlum nisl metus.</p>
          </div>
          <!--/ Section Title-->
          
          <div class="col-sm-12">
            <div class="row team-3 team-3-4Col">
              <div class=""> 
                <!--Staff 1-->
                <div class="col-sm-3">
                  <div class="item img-hover-1">
                    <figure> <img alt="img" src="images/team/staff-11.jpg" />
                      <figcaption> <a class="plus html-popup" href="#member-1"> <span class="icon ion-ios-plus-empty"></span> </a> </figcaption>
                    </figure>
                    <div class="team-profile-3 bg-none">
                      <div>
                        <h5 class="text-uppercase">Michael Bond</h5>
                        <p>Art Director</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Staff 1--> 
                <!--Staff 2-->
                <div class="col-sm-3">
                  <div class="item img-hover-1">
                    <figure> <img alt="img" src="images/team/staff-12.jpg">
                      <figcaption> <a class="plus html-popup" href="#member-2"> <span class="icon ion-ios-plus-empty"></span> </a> </figcaption>
                    </figure>
                    <div class="team-profile bg-none">
                      <div>
                        <h5 class="text-uppercase">Andrea Joe</h5>
                        <p>UI Designer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Staff 2--> 
                
                <!--Staff 3-->
                <div class="col-sm-3">
                  <div class="item img-hover-1">
                    <figure> <img alt="img" src="images/team/staff-13.jpg">
                      <figcaption> <a class="plus html-popup" href="#member-3"> <span class="icon ion-ios-plus-empty"></span> </a> </figcaption>
                    </figure>
                    <div class="team-profile bg-none">
                      <div>
                        <h5 class="text-uppercase">James Anderson</h5>
                        <p>Developer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Staff 3--> 
                
                <!--Staff 4-->
                <div class="col-sm-3">
                  <div class="item img-hover-1">
                    <figure> <img alt="img" src="images/team/staff-14.jpg">
                      <figcaption> <a class="plus html-popup" href="#member-4"> <span class="icon ion-ios-plus-empty"></span> </a> </figcaption>
                    </figure>
                    <div class="team-profile bg-none">
                      <div>
                        <h5 class="text-uppercase">Amy Jackson</h5>
                        <p>Developer</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!--/ Staff 4--> 
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--/ Team--> 
    
    <!-- call to action bar 
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section class="call-to-action-bar clearfix parallax ipad-view" data-background="images/parallaxbg/31.jpg">
      <div class="parallax-overlay bgStrip"></div>
      <div class="container">
        <div class="row row-padding">
          <div class="col-md-12 text-center">
            <p class="text-uppercase fsize1-7 marT0 font1 white">Want to see our amazing work?</p>
          </div>
          <div class="col-md-6 col-md-offset-3 text-center">
            <div class="btn-group marTB"> <a href="" class="btn btn-theme marR40 mmar0">View Portfolio</a> <a href="" class="btn btn-bdr">Contact us</a> </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / call to action bar --> 
    
    <!--Portfolio Section
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section id="portfolio" class="clearfix bgColor2">
      <div class="container-fluid">
        <div class="row row-padding paddTB80"> 
          <!--Section Title-->
          <div class="heading text-center">
            <div class="title-style-5 text-center">
              <div class="tagLine">Work</div>
              <div>
                <h1 class="heading text-uppercase">Our Projects</h1>
              </div>
            </div>
          </div>
          <!--/ Section Title--> 
          <!--Filter-->
          <div id="filters-container" class="cbp-l-filters-alignCenter wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".7s">
            <div data-filter="*" class="cbp-filter-item-active cbp-filter-item text-uppercase"> All
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".identity" class="cbp-filter-item text-uppercase"> identity
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".web-design" class="cbp-filter-item text-uppercase"> Web Design
              <div class="cbp-filter-counter"></div>
            </div>
            <div data-filter=".graphic" class="cbp-filter-item text-uppercase"> Graphic
              <div class="cbp-filter-counter"></div>
            </div>
          </div>
          <!--Filter-->
          <div id="portfolio-grid-container" class="cbp-l-grid-masonry marT15" data-caption="minimal" data-animation="slideDelay" data-gaphorizontal="20" data-gapvertical="20" data-logo="images/logo/logo-black.png"> 
             <!--Project 1-->
            <div class="cbp-item graphic identity"> <a href="ajax/ajax-page-single-image-interior.html" class="cbp-caption cbp-singlePage ">
              <div class="cbp-caption-defaultWrap"> <img src="images/portfolio/27.jpg" alt="media"> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">World Clock Widget</div>
                    <div class="cbp-l-caption-desc">Ajax Page Single Image</div>
                  </div>
                </div>
              </div>
              </a> </div>
            <!--/Project 1--> 
            <!--Project 2-->
            <div class="cbp-item graphic web-design"> <a href="ajax/ajax-page-image-slider-interior.html" class="cbp-caption cbp-singlePage">
              <div class="cbp-caption-defaultWrap"> <img src="images/portfolio/28.jpg" alt="media"> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">World Clock Widget</div>
                    <div class="cbp-l-caption-desc">Ajax Page Slider</div>
                  </div>
                </div>
              </div>
              </a> </div>
            <!--/Project 2--> 
            <!--Project 3-->
            <div class="cbp-item identity web-design"> 
                 <a href="ajax/ajax-page-single-video-interior.html" class="cbp-caption cbp-singlePage">

              <div class="cbp-caption-defaultWrap"> <img src="images/portfolio/29.jpg" alt="media"> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">World Clock Widget</div>
                    <div class="cbp-l-caption-desc">Ajax Page Video</div>
                  </div>
                </div>
              </div>
              </a> </div>
            <!--/Project 3--> 
            <!--Project 4-->
            <div class="cbp-item graphic web-design"> <a href="ajax/big/27-big-interior.jpg" class="cbp-caption cbp-lightbox">
              <div class="cbp-caption-defaultWrap"> <img src="images/portfolio/30.jpg" alt="media"> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">World Clock Widget</div>
                    <div class="cbp-l-caption-desc">Light Box Image</div>
                  </div>
                </div>
              </div>
              </a> </div>
            <!--/Project 4--> 
            <!--Project 5-->
            <div class="cbp-item identity web-design"> <a href="http://vimeo.com/14912890" class="cbp-caption cbp-lightbox">
              <div class="cbp-caption-defaultWrap"> <img src="images/portfolio/31.jpg" alt="media"> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">World Clock Widget</div>
                    <div class="cbp-l-caption-desc">Light Box Video</div>
                  </div>
                </div>
              </div>
              </a> </div>
            <!--/Project 5--> 
            <!--Project 6-->
            <div class="cbp-item graphic web-design"> <a href="ajax/ajax-page-image-slider-interior.html" class="cbp-caption cbp-singlePage">
              <div class="cbp-caption-defaultWrap"> <img src="images/portfolio/32.jpg" alt="media"> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">World Clock Widget</div>
                    <div class="cbp-l-caption-desc">Ajax page slider</div>
                  </div>
                </div>
              </div>
              </a> </div>
            <!--/Project 6--> 
            <!--Project 7-->
            <div class="cbp-item identity web-design"> <a href="http://vimeo.com/14912890" class="cbp-caption cbp-lightbox">
              <div class="cbp-caption-defaultWrap"> <img src="images/portfolio/33.jpg" alt="media"> </div>
              <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                  <div class="cbp-l-caption-body">
                    <div class="cbp-l-caption-title">World Clock Widget</div>
                    <div class="cbp-l-caption-desc">Light Box Video</div>
                  </div>
                </div>
              </div>
              </a> </div>
            <!--/Project 7-->  
          </div>
          <!--Load more-->
          <div class="cbp-l-loadMore-button"> <a class="cbp-l-loadMore-button-link btn btn-dark" href="ajax/loadMore-2.html"> <span class="cbp-l-loadMore-button-defaultText">LOAD MORE</span> <span class="cbp-l-loadMore-button-loadingText">LOADING...</span> <span class="cbp-l-loadMore-button-noMoreLoading">NO MORE WORKS</span> </a> </div>
          <!--/ Load more--> 
        </div>
      </div>
    </section>
    <!--Portfolio Section--> 
    
    <!--Client / Testimonials
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section id="Clients" class="clearfix ipad-view bgColor1">
      <div class="container">
        <div class="row row-padding paddTB80">
          <div class="col-md-5 col-md-offset-7 col-sm-12"> 
            
            <!--Section Title-->
            <div class="heading wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s">
              <div class="title-style-5">
                <div class="tagLine">Testimonials</div>
                <div>
                  <h1 class="heading text-uppercase">What Client say</h1>
                </div>
              </div>
            </div>
            <!--/ Section Title--> 
            <!--Testimonials carousal-->
            <div id="testimonials-slider" class="golo-carousel testimonials-slider clearfix wow fadeIn" data-wow-delay=".2s" data-wow-duration="1s" data-autoplay="true" data-autoplayspeed="800" data-stoponhover="true" data-dots="true"> 
              <!--Slide 1-->
              <div class="item">
                <p> I would like to nec pellen tesque nulla laoret etuis non aliqam orci. laoret etuis non aliqam orci. </p>
                <span class="underline"></span>
                <p class="client-name text-uppercase">Imad Nadkar</p>
                <p class="desg">Business Man</p>
              </div>
              <!--/ Slide 1--> 
              <!--Slide 2-->
              <div class="item">
                <p> Etiam ac diam ut est sagits portti orlum nisl metus ligula vehicua ultries nisi. metus ligula vehicua ultries nisi. </p>
                <span class="underline"></span>
                <p class="client-name text-uppercase">Sachin Wadkar</p>
                <p class="desg">Artist</p>
              </div>
              <!--/ Slide 2--> 
              <!--Slide 3-->
              <div class="item">
                <p> We are nec pellentesque nulla laoreet etuis non aliquam. We are nec pellentesque nulla laoreet etuis non aliquam.</p>
                <span class="underline"></span>
                <p class="client-name text-uppercase">Naeem Badgujar</p>
                <p class="desg">Business Man</p>
              </div>
              <!--/Slide 3--> 
            </div>
            <!--/Testimonials carousal--> 
            
          </div>
        </div>
      </div>
      <!--Left Image-->
      <div class="col-md-6 hidden-sm leftAl img-holder-2" data-background="images/parallaxbg/29.jpg"> </div>
      <!--/ Left Image--> 
    </section>
    <!--/ Client Testimonials--> 
    
    <!-- Client section 
            –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section class="bgColor3 clearfix">
      <div class="container">
        <div class="row">
          <div id="clientCarousel" class="clientCarousel golo-carousel fullwidth" data-nav="false" data-autoplayspeed="1000" data-dots="false" data-loop="true" data-autoplay="true" data-items="6" data-items-mobile-portrait="1" data-items-mobile-landscape="2"  data-items-tablet="2" >
            <div class="item"><img src="images/clients/9.png" class="img-responsive" alt="media"></div>
            <div class="item"><img src="images/clients/10.png" class="img-responsive" alt="media"></div>
            <div class="item"><img src="images/clients/11.png" class="img-responsive" alt="media"></div>
            <div class="item"><img src="images/clients/12.png" class="img-responsive" alt="media"></div>
            <div class="item"><img src="images/clients/13.png" class="img-responsive" alt="media"></div>
            <div class="item"><img src="images/clients/11.png" class="img-responsive" alt="media"></div>
            <div class="item"><img src="images/clients/10.png" class="img-responsive" alt="media"></div>
          </div>
        </div>
      </div>
    </section>
    <!-- / Client section--> 
    
    <!--Blog Section
        –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section id="blog" class="clearfix bgColor1">
      <div class="container">
        <div class="row row-padding paddTB80"> 
          <!--Section Title-->
          <div class="heading text-center">
            <div class="title-style-5 text-center">
              <div class="tagLine">OUR BLOG</div>
              <div>
                <h1 class="heading text-uppercase"> LATEST POSTS</h1>
              </div>
            </div>
          </div>
          <!--/ Section Title-->
          <div class="blog-body marT50 clearfix">
            <div class="blog-grid"> 
              <!--Post 1-->
              <div class="col-md-4 col-sm-6 blog-post-wrapper">
                <div class="cbp-item wow fadeIn" data-wow-delay=".3s" data-wow-duration=".8s"> <a href="blog-inner-img.html" target="_blank" class="cbp-caption">
                  <div class="cbp-caption-defaultWrap"> <img src="images/portfolio/30.jpg" alt="media" class="img-responsive"></div>
                  </a>
                  <div class="cbp-content-wrapper bgColor2">
                    <div class="cbp-l-grid-blog-date text-uppercase">05 FEB 2015</div>
                    <span class="underline"></span> <a href="blog-inner-img.html" target="_blank" class="cbp-l-grid-blog-title">Beautiful animals of world.</a> <a class="cbp-l-caption-buttonLeft text-uppercase" href="blog-inner-img.html">Read More <span class="circle-arrow pull-right"> <i class="fa fa-angle-right"></i></span> </a> </div>
                </div>
              </div>
              <!--/ Post 1--> 
              <!--Post 2-->
              <div class="col-md-4 col-sm-6 blog-post-wrapper">
                <div class="cbp-item wow fadeIn" data-wow-delay=".6s" data-wow-duration=".8s"> <a href="blog-inner-img.html" target="_blank" class="cbp-caption">
                  <div class="cbp-caption-defaultWrap"> <img src="images/portfolio/32.jpg" alt="media" class="img-responsive"></div>
                  </a>
                  <div class="cbp-content-wrapper bgColor2">
                    <div class="cbp-l-grid-blog-date text-uppercase">05 FEB 2015</div>
                    <span class="underline"></span> <a href="blog-inner-img.html" target="_blank" class="cbp-l-grid-blog-title">Create your own playlist.</a> <a class="cbp-l-caption-buttonLeft text-uppercase" href="blog-inner-slider.html">Read More <span class="circle-arrow pull-right"> <i class="fa fa-angle-right"></i></span> </a> </div>
                </div>
              </div>
              <!-- / Post 2--> 
              <!--Post 3-->
              <div class="col-md-4 col-sm-6 blog-post-wrapper">
                <div class="cbp-item wow fadeIn" data-wow-delay=".9s" data-wow-duration=".8s">
                  <div class="cbp-caption-video">
                    <div class="cbp-caption-defaultWrap">
                      <figure class="blog-media embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/62044211?title=0&amp;byline=0&amp;portrait=0&amp;color=c2c2c2" width="320" height="212" allowfullscreen></iframe>
                      </figure>
                    </div>
                  </div>
                  <div class="cbp-content-wrapper bgColor2">
                    <div class="cbp-l-grid-blog-date text-uppercase">05 FEB 2015</div>
                    <span class="underline"></span> <a href="blog-inner-img.html" target="_blank" class="cbp-l-grid-blog-title">Designing Your First Website.</a> <a class="cbp-l-caption-buttonLeft text-uppercase" href="blog-inner-video.html">Read More <span class="circle-arrow pull-right"> <i class="fa fa-angle-right"></i></span> </a> </div>
                </div>
              </div>
              <!--/ Post 3--> 
            </div>
          </div>
          <!--Post Button-->
          <div class="text-center post-btn"><a href="blog.html" target="_blank" class="btn btn-dark"> All Post</a></div>
        </div>
      </div>
    </section>
    <!--/ Blog Section--> 
    
    <!--Contact Section
          –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <section id="contact" class="parallax clearfix ipad-view split bgColor1" data-background="images/parallaxbg/30.jpg">
      <div class="parallax-overlay"></div>
      <div class="container-fluid">
        <div class="row">
          <div class="container backDivLeft">
            <div class="split-section-headings pull-left">
              <div class="row-padding paddTB80">
                <div class="col-md-10"> 
                  <!--Section Title-->
                  <div class="heading wow fadeInLeft" data-wow-delay=".4s" data-wow-duration=".8s">
                    <div class="title-style-5 text-left">
                      <div class="tagLine">Contact</div>
                      <div>
                        <h1 class="heading text-uppercase"> GET IN TOUCH</h1>
                      </div>
                      <p>We are nec pellenesque nulla laoreet etuis.</p>
                    </div>
                  </div>
                  <!--/ Section Title-->
                  <ul class="infoContact wow fadeInLeft" data-wow-delay=".2s" data-wow-duration=".8s">
                    <li><span class="icon ion-home"></span>4435 Berkshire Circle Knoxville TN 27912</li>
                    <li><span class="icon ion-iphone"></span> <span class="number">879-890-9767</span></li>
                    <li><span class="icon ion-ios-email-outline"></span> <a href="mailto:mail@mail.com">mail@mail.com</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="split-section-content pull-right">
            <div class="row-padding paddb0">
              <div id="contact-form" class="contact-form-wrapper contact-form-corp  wow fadeInRight" data-wow-delay=".4s" data-wow-duration=".8s"> 
                <!--Contact Form-->
                <div class="map-overlay col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1 clearfix">
                  <form action="php/contact.php" method="post" id="contactform" class="contact-form clearfix">
                    <!--Input Field-->
                    <div class="form-group">
                      <div class="visible input-group">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Name">
                      </div>
                    </div>
                    <!--/ Input Field--> 
                    <!--Input Field-->
                    <div class="form-group">
                      <div class="visible input-group">
                        <input type="text" class="form-control" id="email" name="email" placeholder="Email">
                      </div>
                    </div>
                    <!--/ Input Field--> 
                    <!--Input Field-->
                    <div class="form-group">
                      <div class="visible input-group">
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone">
                      </div>
                    </div>
                    <!--/ Input Field-->
                    <div class="noMP">
                      <div class="col-md-8 col-sm-12"> 
                        <!--Input Field-->
                        <div class="form-group">
                          <div class="visible input-group">
                            <textarea class="form-control" rows="3" id="comments" name="comments" placeholder="Message"></textarea>
                          </div>
                          <!--/ Input Field--> 
                        </div>
                      </div>
                      <div class="col-md-4 col-sm-7 col-xs-9"> 
                        <!--Input Field-->
                        <div class="form-group text-right">
                          <input type="submit" class="submit text-uppercase" value="Submit">
                        </div>
                        <!--/ Input Field--> 
                      </div>
                    </div>
                  </form>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <!--Map Toggle Button-->
            <div class="switch dark">
              <button class="radio"> <span class="icon ion-android-pin"></span> </button>
            </div>
            <!--/ Map Toggle Button--> 
            <!--Google Map-->
            <div id="googleMap" class="clearfix"></div>
            <!-- / Google Map--> 
          </div>
          <!--Left Image-->
          <div class="space-cover bgColor2 leftAl img-holder-2" > </div>
          <!--/ Left Image--> 
        </div>
      </div>
    </section>
    <!--/ Contact Section--> 
    
  </div>
  <!--/ Content Wrapper--> 
</div>

<!--Footer
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<footer class="clearfix footer-black" id="page_footer">
  <div class="container text-center">
    <div class="row"> 
      <!--Footer Copy-->
      <h5 class="copyright text-uppercase">COPYRIGHTS &copy; 2014 DESIGN BY <a target="_blank" href="http://golothemes.com">GoloThemes</a></h5>
      <!--/ Footer Copy--> 
      <!--Footer Social Icon-->
      <ul class="footer-socials clearfix">
        <li><a href="#" class="foo_social"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="foo_social"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="foo_social"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="foo_social"><i class="fa fa-behance"></i></a></li>
        <li><a href="#" class="foo_social"><i class="fa fa-pinterest"></i></a></li>
      </ul>
      <!--/ Footer Social Icon--> 
    </div>
  </div>
</footer>
<!--/ Footer--> 

<!--Member Popup
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div id="member-1" class="container mfp-hide">
  <div class="row">
    <div class="member-details col-lg-10 col-lg-offset-1">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close">x</button>
        <div class="col-md-5 col-lg-5 no-padding"> <img class="img-responsive" src="images/team/staff-11.jpg" alt="" /> </div>
        <div class="col-md-7 col-lg-7 padd25">
          <h3 class="text-uppercase">MICHAEL BOND</h3>
          <p class="lead">Art Director</p>
          <ul class="socials-connect">
            <li><a title="" href="#" class="page_social"><i class="fa fa-twitter"></i></a></li>
            <li><a title="" href="#" class="page_social"><i class="fa fa-envelope"></i></a></li>
          </ul>
          <div class="content">
            <p>Aliquam lorem ligula, lacinia nec aliquam et, elementum accumsan dui. Nam id hendrerit neque, nec egestas enim. Sed rhoncus porta sapien ac viverra. nec egestas enim. Sed rhoncus porta sapien ac viverra nec egestas enim. Sed rhoncus porta sapien ac viverra</p>
            
            <!--Progress bar-->
            <div class="progress-wrapper">
              <h5>I AM GOOD AT</h5>
              <div class="skills marT50">
                <ul class="skill-bar">
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="80" class="progress-bar text-uppercase" data-name="Branding"></div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="92" class="progress-bar text-uppercase" data-name="Web Design"></div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="89" class="progress-bar text-uppercase" data-name="Graphic Design"> </div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="75" class="progress-bar text-uppercase" data-name="Logo Design"> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
            <!--/ Progress bar--> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Member Popup
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="member-2" class="container mfp-hide">
  <div class="row">
    <div class="member-details col-lg-10 col-lg-offset-1">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close">x</button>
        <div class="col-md-5 col-lg-5 no-padding"> <img class="img-responsive" src="images/team/staff-12.jpg" alt="" /> </div>
        <div class="col-md-7 col-lg-7 padd25">
          <h3 class="text-uppercase">Andrea Joe</h3>
          <p class="lead">Developer</p>
          <ul class="socials-connect">
            <li><a title="" href="#" class="page_social"><i class="fa fa-twitter"></i></a></li>
            <li><a title="" href="#" class="page_social"><i class="fa fa-envelope"></i></a></li>
          </ul>
          <div class="content">
            <p>Aliquam lorem ligula, lacinia nec aliquam et, elementum accumsan dui. Nam id hendrerit neque, nec egestas enim. Sed rhoncus porta sapien ac viverra. nec egestas enim. Sed rhoncus porta sapien ac viverra nec egestas enim. Sed rhoncus porta sapien ac viverra</p>
            
            <!--Progress bar-->
            <div class="progress-wrapper">
              <h5>I AM GOOD AT</h5>
              <div class="skills marT50">
                <ul class="skill-bar">
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="80" class="progress-bar text-uppercase" data-name="Branding"></div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="92" class="progress-bar text-uppercase" data-name="Web Design"></div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="89" class="progress-bar text-uppercase" data-name="Graphic Design"> </div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="75" class="progress-bar text-uppercase" data-name="Logo Design"> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
            <!--/ Progress bar--> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Member Popup
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="member-3" class="container mfp-hide">
  <div class="row">
    <div  class="member-details col-lg-10 col-lg-offset-1">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close">x</button>
        <div class="col-md-5 col-lg-5 no-padding"> <img class="img-responsive" src="images/team/staff-13.jpg" alt="" /> </div>
        <div class="col-md-7 col-lg-7 padd25">
          <h3 class="text-uppercase">James Anderson</h3>
          <p class="lead">Developer</p>
          <ul class="socials-connect">
            <li><a title="" href="#" class="page_social"><i class="fa fa-twitter"></i></a></li>
            <li><a title="" href="#" class="page_social"><i class="fa fa-envelope"></i></a></li>
          </ul>
          <div class="content">
            <p>Aliquam lorem ligula, lacinia nec aliquam et, elementum accumsan dui. Nam id hendrerit neque, nec egestas enim. Sed rhoncus porta sapien ac viverra. nec egestas enim. Sed rhoncus porta sapien ac viverra nec egestas enim. Sed rhoncus porta sapien ac viverra</p>
            
            <!--Progress bar-->
            <div class="progress-wrapper">
              <h5>I AM GOOD AT</h5>
              <div class="skills marT50">
                <ul class="skill-bar">
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="80" class="progress-bar text-uppercase" data-name="Branding"></div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="92" class="progress-bar text-uppercase" data-name="Web Design"></div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="89" class="progress-bar text-uppercase" data-name="Graphic Design"> </div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="75" class="progress-bar text-uppercase" data-name="Logo Design"> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
            <!--/ Progress bar--> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Member Popup
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div id="member-4" class="container mfp-hide">
  <div class="row">
    <div class="member-details col-lg-10 col-lg-offset-1">
      <div class="row">
        <button title="Close (Esc)" type="button" class="mfp-close">x</button>
        <div class="col-md-5 col-lg-5 no-padding"> <img class="img-responsive" src="images/team/staff-14.jpg" alt="" /> </div>
        <div class="col-md-7 col-lg-7 padd25">
          <h3 class="text-uppercase">James Anderson</h3>
          <p class="lead">Developer</p>
          <ul class="socials-connect">
            <li><a title="" href="#" class="page_social"><i class="fa fa-twitter"></i></a></li>
            <li><a title="" href="#" class="page_social"><i class="fa fa-envelope"></i></a></li>
          </ul>
          <div class="content">
            <p>Aliquam lorem ligula, lacinia nec aliquam et, elementum accumsan dui. Nam id hendrerit neque, nec egestas enim. Sed rhoncus porta sapien ac viverra. nec egestas enim. Sed rhoncus porta sapien ac viverra nec egestas enim. Sed rhoncus porta sapien ac viverra</p>
            
            <!--Progress bar-->
            <div class="progress-wrapper">
              <h5>I AM GOOD AT</h5>
              <div class="skills marT50">
                <ul class="skill-bar">
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="80" class="progress-bar text-uppercase" data-name="Branding"></div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="92" class="progress-bar text-uppercase" data-name="Web Design"></div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="89" class="progress-bar text-uppercase" data-name="Graphic Design"> </div>
                    </div>
                  </li>
                  <li class="active progress col-md-5">
                    <div class="skill-bar-wrap">
                      <div data-width="75" class="progress-bar text-uppercase" data-name="Logo Design"> </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            
            <!--/ Progress bar--> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– --> 
<script type="text/javascript" src="js/plugins/jquery-1.11.1.min.js"></script> 
<script src="https://maps.googleapis.com/maps/api/js"></script> 
<script type="text/javascript" src="js/plugins/plugin.js"></script> 
<script type="text/javascript" src="js/custom.js"></script> 
<!--scripts-->
</body>
</html>